@model RealtyInvest.DataModel.ViewModels.RegisterViewModel
@{
    Layout = null;
}

@using (Ajax.BeginForm("Register", "Account", new AjaxOptions { UpdateTargetId = "registerContext", OnSuccess = "angular.element(document.querySelector('#RegisterDlg')).scope().success(data)", HttpMethod = "POST" }, new { @class = "form-horizontal", id = "registrationForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr/>
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
